@import 'utilities';

.gallery {
    background-color: $black;

    &__img {
        width: 100vw;
    }

    @media screen and (min-width: 1023px) {
        &__container {
            display: flex;
            flex-wrap: wrap;
        }

        &__img {
            width: calc(100vw*0.33);
        }
    }
}