@import 'utilities';

.testemonials {

    &__container {
        display: flex;
        flex-direction: column;
        padding: 4rem 2rem 0 2rem;
    }

    &__name,
    &__text {
        color: $white;
    }

    &__img {
        width: 50vw !important;
        align-self: center;
    }

    &__someContainer {
        width: 30vw;
        align-self: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
}

.carousel {
    background-color: $black;
}

.thumbs-wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.thumbs {
    width: 60vw;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.thumb {
    width: 1.5rem !important;
    height: 1.5rem;
    margin: 0 !important;
    color: $white;
    background-color: $white;
    border: none;
}

.selected {
    background-color: $pink;
    border: none;
}

.thumb>img {
    width: 40px !important;
}

.slide {
    padding: 0 0.1rem;
}