// Colors
$black: #030203;
$blackfaded: rgba(3, 2, 3, 0.4);
$pink: #ff2a70;
$pinkfaded: rgba(255, 42, 112, 0.8);
$grey: #e0e0e0;
$white: #fff;

// Fonts
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
i,
address {
	font-family: 'Ubuntu', sans-serif;
}

// Tags
body {
	margin: 0;
}