@import 'utilities.scss';

.welcome {
    background-image: url(../assets/pattern_bg.jpg);
    background-size: cover;
    width: 100vw;

    &__imgContainer {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__img {
        width: 90vw;
        margin: calc(100vw* 0.05)
    }

    @media screen and (min-width:1023px) {
        &__heading {
            font-size: 3rem;
        }

        &__imgContainer {
            margin: 0 10vw 0 10vw;
            padding-bottom: 3rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        &__img {
            width: 25vw;
            margin: 0;
        }
    }
}